---
title: 'helloThere'
---
<html>
<body>
<h2>{{capitalize document.title}}</h2>
{{>titleInExtension}}
<p>{{helloHelper document.basename}}</p>
<p>{{useContextHelper}}</p>
<p>{{useContextInExtension}}</p>
</body>
</html>