---
title: 'helloThere'
---
<html>
<body>
<h2>{{capitalizeHelper document.title}}</h2>
{{>titleInExtensionPartial}}
<p>{{helloHelper document.basename}}</p>
<p>{{useContextHelper}}</p>
<p>{{useContextInExtensionHelper}}</p>
</body>
</html>